pkgbase = etterna-git
	pkgdesc = Advanced cross-platform rhythm game designed for home and arcade use
	pkgver = 0.56.2+CalcOnly+0+gbb6dfc5cc1
	pkgrel = 1
	url = http://www.stepmania.com/
	install = stepmania.install
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = yasm
	makedepends = glew
	depends = gtk2
	depends = libmad
	depends = jack
	depends = libpulse
	depends = libva
	provides = stepmania=5.1
	conflicts = stepmania
	replaces = sm-ssc-hg
	source = git+https://github.com/etternagame/etterna.git#branch=0.56.2-CalcOnly
	source = stepmania.sh
	sha256sums = SKIP
	sha256sums = f9839a0c751fee40a5c21712110bce9f3b73863ece404f1c7e468d0fc1b528eb

pkgname = etterna-git

